*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: white;
}

body, html {
    overflow: hidden;
}
body{
    background: linear-gradient(to bottom right, #C7838D, #614173, #2d1e55);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.moon{
    height: 15vh;
    position: absolute;
    left: 5%;
    top: 3%;
}

.navlist{
    /* overflow: hidden; */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    list-style: none;
    color: white;
}

.navlist li{
    width: 100%;
    padding: 1rem;
    font-size: 18px;
    text-align: end;
}
.navlist li:hover{
    cursor: pointer;
    font-size: 24px;
}

.burger{
    height: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

.burger:hover{
    cursor: pointer;
}

main{
    
}

.clock{
    width: 100%;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.labels, .values{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8vh;
    font-size: 2rem;
    font-weight: 500;
}

.values{
    width: 30%;
    font-size: 5rem;
}
.val{
    margin-right: 45px;
}

p{
    text-align: center;
}

/*Stopwatch*/
.sw-values{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    font-weight: 500;
    width: 30%;
    font-size: 5rem;
}

.stopwatch{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sw_values-milseconds{
    font-size: 3rem;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons-container{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 60px;
}
.swbtn, .tbtn{
    width: 18%;
    font-size: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}
.swbtn:active, .tbtn:active{
    font-size: 24px;
}
/* Timer */

input{
    height: 76px;
    width: 120px;
    margin: 0 18px;
    font-size: 5rem;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.hidden{
    display: none;
}

.active{
    
}
::-webkit-input-placeholder{
    color: white;
}


@media only screen and (max-width: 1024px){
    .moon{
        height: 10vh;
        position: absolute;
        left: 5%;
        top: 3%;
    }
    
    .navlist{
        z-index: 1;
        position: absolute;
        right: 0;
        top: 120px;
        width: 100%;
        list-style: none;
        color: white;
        background: rgba(255,255,255,65%);

    }
    
    .navlist li{
        color: #614173;
        text-align: center;
        width: 100%;
        padding: 6px 4px;
        font-size: 18px;
        font-weight: bold;
    }

    .navlist li:hover{
        cursor: pointer;
        font-size: 24px;
    }
    
    .burger{
        height: 20px;
        display: inline;
    }
    
    .burger:hover{
        cursor: pointer;
    }

    .labels, .values{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        /* grid-template-columns: 1fr 1fr 1fr; */
        height: 8vh;
        font-size: 2.5rem;
        font-weight: 500;
    }
    .val{
        margin: 0 15px;
    }
    
    /*Stopwatch*/
    .sw-values{
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 8vh;
        font-weight: 500;
        width: 80vw;
        font-size: 2.5rem;
    }
    .sw-val{
        margin: 0 10px;
    }

    .stopwatch{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .sw_values-milseconds{
        font-size: 2rem;

    }
    .buttons-container{
        width: 90vw;
        height: 60px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 40px;
    }
    .swbtn, .tbtn{
        width: 18%;
        font-size: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
        margin: 0 4px;
    }
    .swbtn:active, .tbtn:active{
        font-size: 24px;
    }

    input{
        height: 76px;
        width: 25vw;
        margin: 0 4px;
        font-size: 2.5rem;
        padding: 6px;
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }
    
}